/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url(/static/fonts/merriweather/Merriweather-LightItalic.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url(/static/fonts/merriweather/Merriweather-LightItalic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Merriweather Italic'), local('Merriweather-Italic'), url(/static/fonts/merriweather/Merriweather-Italic.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url(/static/fonts/merriweather/Merriweather-BoldItalic.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url(/static/fonts/merriweather/Merriweather-BoldItalic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url(/static/fonts/merriweather/Merriweather-BlackItalic.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url(/static/fonts/merriweather/Merriweather-BlackItalic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Merriweather Light'), local('Merriweather-Light'), url(/static/fonts/merriweather/Merriweather-Light.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Merriweather Light'), local('Merriweather-Light'), url(/static/fonts/merriweather/Merriweather-Light.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Merriweather Regular'), local('Merriweather-Regular'), url(/static/fonts/merriweather/Merriweather-Regular.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Merriweather Bold'), local('Merriweather-Bold'), url(/static/fonts/merriweather/Merriweather-Bold.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local('Merriweather Black'), local('Merriweather-Black'), url(/static/fonts/merriweather/Merriweather-Black.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local('Merriweather Black'), local('Merriweather-Black'), url(/static/fonts/merriweather/Merriweather-Black.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
